# Overview

## This notebook will cover the fundamental concepts of the Python programming language, including interactive examples and exercises.

# Introduction to Python

- INTRO
    - What's python?
    - Brief history
    - What can we do with python?

- Data Types
    - Numbers
        - Int
        - Float
    - String (show string methods)
    - Boolean

- Data structures
    - Collections
        - Lists (comprehensions..)
        - Tuples
        - Dictionaries
        - Sets


https://colab.research.google.com/github/cs231n/cs231n.github.io/blob/master/python-colab.ipynb#scrollTo=w-nZ0Sg_L9e9

https://colab.research.google.com/github/data-psl/lectures2020/blob/master/notebooks/01_python_basics.ipynb#scrollTo=3EKvP6jiMZ9H

# - High level, Interpreted, general-purpose programming language
# - Created by Guido van Rossum and first released in 1991.
# - Widely used among the data science community

## Running your first program

In [ ]:
print("Hello, AI-General-Assembly!")

## Making inline comments

In [ ]:
# print("Hello,  AI-General-Assembly!")

## Data Types

### Numbers

In [ ]:
x = 5
y = x
print(y)

5

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
x = 2
print(x)

2

In [ ]:
print(type(x))

<class 'int'>

### Basic Arithmetics

In [ ]:
a = 10
b = 5
print(a + b) # Addition
print(a - b) # Subtraction
print(a * b) # Multiplication
print(a / b) # Division
print(a ** b) # Exponentiation

15
5
50
2.0
100000

### Booleans

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
y = False
print(y)

False

In [ ]:
print(x == y)
print(x != y)

False
True

In [ ]:
print(not x)

False

In [ ]:
print(not y)

True

In [ ]:
print(x and y)

False

In [ ]:
print(x or y)

True

### Strings

In [ ]:
str1 = "Hello"
str2 = "awitai"

In [ ]:
print(str1)
print(str2)

Hello
awitai

In [ ]:
print(type(str1))

<class 'str'>

In [ ]:
print(str1 + str2)

Helloawitai

In [ ]:
print(str1 + " " + str2)

Hello awitai

In [ ]:
myname = "Zineb"
print(f"Hello {myname}")

Hello Zineb

In [ ]:
print(f"{str1} {str2}")

Hello awitai

In [ ]:
len(str1)

5

In [ ]:
print(len(str1))

5

In [ ]:
s = "hello"
s.replace("h", "t")

'tello'

In [ ]:
print(str1.upper())
print(str1.capitalize())
print(str1.split('e'))
print(str1.replace('e', 'a'))

HELLO
Hello
['H', 'llo']
Hallo

### Type casting

In [ ]:
x = "5"

print(x + str(3))

53

In [ ]:
x = [1,2,3,4,5]
s = ["A", "B", "C"]

b = [1, "B"]

print(b)

[1, 'B']

In [ ]:
list(x)

[1, 2, 3, 4, 5]

In [ ]:
x = [1,2,3,4,5,3,2,1]
print(type(x))
print(x)
x = set(x)
print(type(x))
print(x)

<class 'list'>
[1, 2, 3, 4, 5, 3, 2, 1]
<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
x = [1,2,3,4,5,3,2,1]
print()

In [ ]:
str1 = "Otmane"
print(list(str1))

['O', 't', 'm', 'a', 'n', 'e']

## Data Structures

### Lists

In [ ]:
mylist = [1,2,3,4,5]
print(mylist)

In [ ]:
print(type(mylist))

In [ ]:
mylist[0]

In [ ]:
mylist[2]

In [ ]:
mylist[2] = "10"

In [ ]:
mylist

In [ ]:
mylist.append(99)

In [ ]:
mylist

In [ ]:
mylist.pop()

In [ ]:
mylist

In [ ]:
mylist[-1]

#### Slicing

In [ ]:
mylist = [1,2,3,4,5,6,7]
mylist

In [ ]:
myslice = mylist[:2]
print(myslice)

In [ ]:
mylist[2:]

In [ ]:
mylist[1:3]

In [ ]:
c = ["Name", "Age", "Height", "Number", "Job"]
x = c[:3]
print(x)

In [ ]:
mylist[:]

In [ ]:
l = [7, 3, 0, 9]
l[1:3]

### Dictionaries

In [ ]:
d = {'name': 'Otmane', 'location': 'Rabat'}
print(d)

In [ ]:
print(type(d))

In [ ]:
d['name']

In [ ]:
d['location']

In [ ]:
d['profession']

In [ ]:
d.get('name', 'None')

In [ ]:
d['profession'] = 'Ai Engineer'

In [ ]:
print(d)

### Tuples

In [ ]:
x = (1,2)
print(x)

In [ ]:
print(type(x))

In [ ]:
x[0]

In [ ]:
x[1]

In [ ]:
a = x[0]
b = x[1]
print(a)
print(b)

In [ ]:
d = [{'Fname': 'Velma', 'Lname': "Nogni"}, {'Fname': 'Otmane', 'Lname': 'Boughaba'}]
print()

In [ ]:
a = [4, 7, 9, 3]
a[2]["Fname"]

In [ ]:
d[1]

In [ ]:
print(a,b)

In [ ]:
x[0] = 3

### Sets

In [ ]:
x = {3, 8}
print(x)

In [ ]:
print(type(x))

In [ ]:
x = {3, 8, 23, 8}
print(x)

In [ ]:
x.add(55)
x.remove(3)

In [ ]:
l = [5, 3, 0]
l[1] = 7
print(l)

In [ ]:
print(x)

In [ ]:
print(55 in x)
print(3 in x)
print(90 in x)

## Variable naming

In [ ]:
list = [1,2,3,4]
del list

In [ ]:
s = "Hello"
print(list(s))

In [ ]:
123 = "Hello"
--x = 5
$*x = 1
class = 4
list = 5

## Loops

In [ ]:
mylist = [2,4,6,8,10]

for index, item in enumerate(mylist):
    print(f"item No.{index+1} is: {item}")

In [ ]:
print("Item No.2 is: 2")

In [ ]:
shopping_list = ["sugar", "eggs", "butter"]
for i, s in enumerate(shopping_list):
    print(f"{i}:  {s}")

In [ ]:
# exercise
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

In [ ]:
# One line: List comprehension
squares = [x**2 for x in nums]

In [ ]:
# infitine, must change i value (exercise)
i = 0
while i<5:
    print("Hello")

## Conditions

In [ ]:
mylist = [21,67,103,56,403]

for n in mylist:
    if n > 100:
        print("Number is too big!")
    else:
        print(n)

- bigger than: `>`
- less than: `<`
- equal: `==`
- different than: `!=`

## Functions

In [ ]:
def add(a, b):
    return a + b

def multiplication(a , b):
    return a * b

sum = add(25, 10)
mltp = multiplication(2, 3)
print(mltp)

In [ ]:
def convert_usd_mad(usd):
    mad = usd * 10
    return mad

USD = 20

MAD = convert_usd_mad(USD)
print(f"{USD} US Dollars are equivalent to: {convert_usd_mad(USD)} Moroccan Dirhams")

In [ ]:
# exercise: create multiply function

## Classes

In [ ]:
class Info:
    def __init__(self, name, location):
        self.name = name
        self.location = location

    def greet(self, language):
        if language == "english":
            print(f"Hello {self.name}!")
        if language == "french":
            print(f"Bonjour {self.name}!")

In [ ]:
info = Info("Otmane", "Rabat")
info.greet("french")

## Exercises

### Print your name + location

### Write a function that converts hours into minutes

### Write a program that prints only the positive numbers from this list

In [ ]:
l = [3, -4, 12, 23, -9, 10, 22, 80, -34]

### Write a program that calculates the sum of the first 100 numbers

### Create a program that finds the largest element in a list

In [ ]:
l = [3, -4, 12, 23, -9, 10, 22, 80, -34]

### Print only numbers that are divisible by 5 from a list

In [ ]:
l = [5, 24, 25, 81, 105, 45, 10, 37]

### Convert USD to MAD

assuming that 1 USD = 10 MAD, Write a function that received USD as input and returns the value in MAD